.bg-cover {
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.fs-italic {
  font-style: italic;
}