.collection {
  &__main {
    padding-top: 96px;
    padding-bottom: 96px;
    overflow: hidden;
    h4 {
      font-size: 48px;
      max-width: 600px;
      text-align: center;
      color: #000000DE;
      margin-bottom: 24px;
      transition: transform 0.3s, opacity 0.6s;
      transform: translateY(300%);
      opacity: 0;
      &.active {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    p {
      max-width: 570px;
      text-align: center;
      color: #00000099;
      line-height: 24px;
      transform: translateY(300%);
      transition: transform 0.3s, opacity 0.6s;
      opacity: 0;
      &.active {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
  &__bg {
    background-image: url('../images/josh-nuttall-RqFUxO6MKjw-unsplash.jpg');
    background-position: center 24%;
    background-size: cover;
    height: 640px;
  }
  &__bg__desc {
    background-color: #FFFFFF;
    width: 450px;
    height: 139px;
    margin-left: 255px;
    margin-bottom: 77px;
    padding: 16px;
    p {
      font-size: 24px;
    }
    h6 {
      color: #00000099;
      font-size: 16px;
    }
  }
}