.footer {
  overflow: hidden;
  &__contant{
    height: 96px;
    width: 1410px;
    margin: 0 auto;
    background-color: #F1F5F6;
    padding: 0 48px;
    transform: translateY(100%);
    transition: all 0.2s;
    .active & {
      transform: translateY(0%);
    }
  }
  
}

.footer__contant {
  &__copyright {
    color: #00000099;
    font-size: 14px;
  }
  &__main li{
    margin-right: 48px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      color: #000000DE;
    }
  }
}
