.gear {
  display: flex;
  &__read-bg {
    background-image: url('../images/josh-nuttall-uNQ-TTg_qNY-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    height: 960px;
    max-width: 960px;
    width: 100%;
    position: relative;
    transition: all 0.8s;
    transform: translateX(-110%);
    z-index: 1;
    .active & {
      transform: translateX(0%);
    }
  }
  &__content {
    background-color: #F1F5F6;
    width: 100%;
    position: relative;
    transition: all 0.8s;
    opacity: 0;
    .active & {
      opacity: 1;
    }
  }
}

.gear__content {
  &__desc {
    height: 100%;
  }
  &__desc h3{
    font-size: 72px;
    text-align: right;
    margin-right: 96px;
    transform: translateX(100%);
    transition: all 0.8s;
    .active & {
      transform: translateX(0%);
    }
  }
  &__desc p {
    margin-left: 135px;
    color: #00000099;
    width: 570px;
    font-family: 'Lato', 'serif';
    line-height: 24px;
    transform: translateX(200%);
    transition: all 0.8s;
    .active & {
      transform: translateX(0%);
    }
  }
  &__title {
    font-size: 72px;
    text-align: right;
    transform: translateX(100%);
    transition: all 0.8s;
    &.activeStripped {
      margin-right: 96px;
    }
  }

  &__subtitle {
    font-size: 72px;
    text-align: right;
    transform: translateX(100%);
    transition: all 0.8s;
    &.activeStripped {
      margin-right: -48px;
    }
  }

  &__more {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F1F5F6;
    color: #121212;
    display: block;
    height: 61px;
    width: 0px;
    text-align: center;
    line-height: 61px;
    border: 1px solid #000000;
    z-index: 1;
    font-size: 24px;
    font-family: 'Lato', 'serif';
    font-weight: bold;
    transition: all 0.8s;
    transition-delay: 0.8s;
    overflow: hidden;
    .active & {
      width: 150px;
    }
  }
}


.gear__read-bg__arrow {
  background-color: #000000;
  position: absolute;
  width: 61px;
  height: 61px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
