.header {
  &__desc--btn {
    width: 211px;
    height: 61px;
    color: #000000;
    border: 1px solid #000000;
    background-color: #F1F5F6;
    text-align: center;
    line-height: 61px;
  }
  &__collection {
    max-width: 50%;
    margin-left: 15px;
  }
}

.header__desc {
  h2 {
    width: 690px;
    font-size: 96px;
    font-weight: 700;
    transform:translateX(-200%);
    opacity: 0;
    margin-bottom: 48px;
    transition: transform 0.8s, opacity 1.6s;
    .active & {
      transform:translateX(0%);
      opacity: 1;
    }
  }
  p {
    width: 570px;
    font-size: 24px;
    line-height: 36px;
    color: #00000099;
    transform:translateX(-200%);
    transition: transform 0.8s, opacity 1.6s;
    opacity: 0;
    margin-bottom: 48px;
    font-family: 'Lato', 'serif';
    .active & {
      transform:translateX(0%);
      opacity: 1;
    }
  }
  .header__desc--btn {
    transform:translateX(-250%);
    transition: transform 0.8s, opacity 1.6s;
    opacity: 0;
    .active & {
      transform:translateX(0%);
      opacity: 1;
    }
  }

}

.header__collection {
  border: 1px solid #000000;
  transform:translateX(200%);
  opacity: 0;
  transition: transform 0.8s, opacity 1.6s;
  .active & {
    transform:translateX(0%);
    opacity: 1;
  }
  &-inner {
    background-color: #242424;
  }
  &-control--prev, &-control--next {
    width: 121px;
    height: 120px;
    color: #000000;
    border-right: 1px solid #000000;
  }
  &-control--caption {
    font-size: 48px;
    margin-left: 48px;
    transition: all 0.8s;
    transform:translateX(200%);
    transition-delay: 0.8s;
    .active & {
      transform:translateX(0%);
    }
  }
  &-item {
    transform:translateX(200%);
    transition: all 0.8s;
    transition-delay: 0.8s;
    .active & {
      transform:translateX(0%);
    }
  }
}